@import "style.css";

.blogpost {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
}

.blogpost > * {
	height: 100%;
	min-width: 90%;
	padding: 1rem;
}

.post-type {
	color: var(--blog-date-color);
	font-size: small;
	padding: 1rem;
	transform: translateY(-5rem);
}

.clicky-links {
	z-index: 2;
	min-height: 80%;
}

.blog-canvas {
	display: grid;
	grid-template-areas:
		"pt"
		"p "
		"p"
		"p";
	height: 100%;
}

.post-titles {
	display: grid;
	grid-template-areas:
		"t"
		"s"
		"d" !important;
	width: 100%;
	grid-area: pt;
	height: fit-content;
	padding: 0;
	margin-bottom: 0;
}

.post-title {
	font-size: calc(var(--text-size) * 2);
	font-weight: bold;
	text-align: center;
	grid-area: t;
}

.post-subtitle {
	font-size: calc(var(--text-size) * 1.5);
	text-align: center;
	grid-area: s;
}

.post {
	top: 20px;
	grid-area: p;
	text-align: justify;
	font-size: var(--text-size);
	padding: 3rem;
}

.post p {
	line-height: 1.5rem;
}

.date {
	font-size: calc(var(--text-size) * 0.8);
	text-align: center;
	grid-area: d;
	color: var(--blog-date-color);
}

.nota {
	color: var(--blog-date-color);
	padding: 1rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--text-color);
	border-top: 1px solid var(--text-color);
	font-size: small;
	font-style: italic;
}

details {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 1rem;
	border: 1px solid var(--text-color);
	background-color: var(--link-bg-color);
	transition: 100ms all ease-in-out;
}

details > summary {
	font-weight: bold;
	cursor: pointer;
	padding: 1.5rem;
}

details[open] > summary {
	border-bottom: solid 1px var(--text-color);
}

details li {
	padding: 1rem;
	list-style: square;
}

/* Responsive del blog */

@media (max-width: 916px) {
	.blog-canvas {
		margin-top: calc(var(--nav-height) * 1.2);
	}

	.post {
		padding: 1rem;
		font-size: medium;
	}

	.date {
		font-size: small;
	}

	.post-title {
		font-size: calc(var(--text-size) * 3);
	}

	.post-titles {
		margin: auto;
	}
}
