@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap");

:root {
	--background-color: #1a1a1a;
	--text-color: #fff;
	--blog-date-color: rgb(90, 90, 90);
	--text-size: 1rem;
	--bg-shapes-color: invert(100%) sepia(55%) saturate(0%) hue-rotate(143deg)
		brightness(109%) contrast(101%);
	--bg-shapes-opacity: 0.3;
	--nav-height: 60px;
}

html,
body {
	position: relative;
	height: 100vh;
	min-height: 100vh;
	min-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Mono", Inconsolata, monospace, sans-serif;
	font-size: var(--text-size);
	overflow-x: hidden;
	transition: all 0.1s ease-in-out;
}

.bg-wrapper {
	position: absolute;
	overflow: hidden;
	z-index: -1;
	filter: var(--bg-shapes-color);
	width: 100vw;
	left: -5em;
	opacity: var(--bg-shapes-opacity);
	height: 90vh;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	height: var(--nav-height);
	padding: 1rem 1.5rem;
	color: var(--text-color);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 3;
}

.nav-logo {
	font-weight: 700;
	width: calc(var(--text-size) * 1);
}

.theme,
.nav-logo {
	width: calc(var(--text-size) * 2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: var(--text-color);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	cursor: pointer;
}

.nav-link {
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

.nav-item:hover .nav-link {
	color: rgb(116, 170, 255);
}

.nav-item:hover .nav-link::before {
	content: ".";
	display: inline-block;
	color: aqua;
	position: absolute;
	margin-left: -0.5rem;
}

.nav-item:hover .nav-link::after {
	content: "()";
	display: inline-block;
	color: rgb(218, 112, 202);
	position: absolute;
}

.cursor {
	z-index: 1;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-color: var(--text-color);
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.container {
	margin: 0;
	margin-top: calc(var(--nav-height) * 1.1);
	left: 0;
	min-height: 100%;
	min-width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.canvas {
	left: 0;
	display: flex;
	width: 90%;
	min-height: 100%;
}

.titles {
	display: grid;
	grid-template-areas:
		"t t t"
		"s s s";
	margin: 1em;
}

.title {
	font-size: calc(var(--text-size) * 3);
	font-weight: bold;
	grid-area: t;
}

.titles-projects {
	font-size: calc(var(--text-size) * 2);
	font-weight: bold;
	grid-area: tp !important;
}

.subtitle {
	grid-area: s;
	font-size: calc(var(--text-size) * 1.5);
}

.project-canvas {
	display: grid;
	grid-template-areas:
		"tp p p"
		"im p p"
		"im p p";
	min-height: 100%;
	height: 80vh;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: var(--text-size);
	margin: var(--text-size);
	grid-area: p;
	overflow: hidden;
	padding: calc(var(--text-size) * 2);
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100%;
	list-style: none;
	border: var(--text-color) 1px solid;
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.project a:visited,
a {
	width: 90%;
	height: 100%;
	padding: var(--text-size);
	color: var(--text-color);
	text-decoration: none;
	background-color: none;
}

.project:hover,
.project:focus-within,
.project:focus,
.project:target {
	transform: translateY(-0.2em);
	box-shadow: var(--text-color) calc(var(--text-size) * 0.2)
		calc(var(--text-size) * 0.2);
}

.project-icon {
	transform: translateY(0.3em);
}

footer {
	position: relative;
	height: var(--nav-height);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.22) 43%,
		rgba(0, 0, 0, 0) 97%
	);
	transition: 100ms all 0.1s ease-in-out;
}

footer:hover {
	cursor: default;
}

footer a {
	color: var(--text-color);
	text-decoration: none;
	width: var(--text-size);
	height: var(--text-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a:hover {
	cursor: pointer;
}

/* TBD: FIX RESPONSIVE FOR PIXEL 5 FLIPPED */

@media (max-width: 916px) {
	.nav-logo,
	.theme {
		width: 25px !important;
		height: 25px !important;
		padding: 0;
	}

	.theme {
		transform: translateX(7px);
	}

	:root {
		--text-size: 0.8em;
	}

	.canvas {
		width: 90%;
		align-items: center;
		justify-content: center;
	}

	.nav-link:hover:not(.active)::before {
		content: "";
		display: none;
		animation: none;
	}

	.title {
		font-size: calc(var(--text-size) * 4);
	}

	.title,
	.subtitle {
		text-align: center;
	}

	.bg-wrapper {
		width: 100vw;
		left: calc(10% - 50vw);
		height: 80vh;
		top: calc(60% - 50vh);
	}

	.bg-wrapper img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.project-canvas {
		display: grid;
		grid-template-areas:
			"tp"
			"p "
			"p ";
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.project-list {
		min-height: 50vh;
	}

	.project {
		margin-top: 0px;
		font-size: (var(--text-size) * 1.5);
	}

	.nav-item:hover .nav-link::after,
	.nav-item:hover .nav-link::before {
		content: "";
		display: none;
		animation: none;
	}
	.cursor {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: var(--nav-height);
		flex-direction: column;
		background-color: var(--background-color);
		width: 100%;
		text-align: center;
		transition: 0.1s;
		padding: 0;
	}

	.nav-menu.active {
		left: 0;
		z-index: 3;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
