@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap");

:root {
	--background-color: #1a1a1a;
	--link-bg-color: rgba(0, 0, 0, 0.2);

	--text-color: #fff;
	--link-color: #00ffff;
	--blog-date-color: rgb(90, 90, 90);

	--text-size: 1rem;
	--bg-shapes-color: invert(100%) sepia(55%) saturate(0%) hue-rotate(143deg)
		brightness(109%) contrast(101%);
	--bg-shapes-opacity: 0.3;
	--nav-height: 60px;
}

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	min-width: 100vw;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Mono", Inconsolata, monospace, sans-serif;
	font-size: var(--text-size);
	overflow-x: hidden;
	transition: all 0.1s ease-in-out;
}

.bg-wrapper {
	position: absolute;
	overflow: hidden;
	z-index: -1;
	filter: var(--bg-shapes-color);
	width: 100vw;
	left: -5em;
	opacity: var(--bg-shapes-opacity);
	height: 90vh;
}

.award {
	color: transparent;
	background-color: #e8a95b;
	background-image: radial-gradient(
			ellipse farthest-corner at right bottom,
			white 0%,
			#f0bb7a 20%,
			#e8a95b 60%,
			transparent 80%
		),
		radial-gradient(
			ellipse farthest-corner at left top,
			white 0%,
			#f0bb7a 50%,
			#de9945 75%,
			#e8a95b 100%
		);
	background-size: 100% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	display: inline-block;
	position: relative;
	z-index: 1;
}

.award:after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-image: linear-gradient(
		100deg,
		transparent 0%,
		transparent 6rem,
		white 11rem,
		transparent 11.15rem,
		transparent 15rem,
		rgba(255, 255, 255, 0.3) 20rem,
		transparent 25rem,
		transparent 27rem,
		rgba(255, 255, 255, 0.6) 32rem,
		white 33rem,
		rgba(255, 255, 255, 0.3) 33.15rem,
		transparent 38rem,
		transparent 40rem,
		rgba(255, 255, 255, 0.3) 45rem,
		transparent 50rem,
		transparent 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 60rem 100%;
	background-repeat: no-repeat;
	-webkit-animation-name: shine;
	animation-name: shine;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.award:before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	color: transparent;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.5) 0%,
		transparent 35%,
		transparent 75%,
		#de9945 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@-webkit-keyframes shine {
	0% {
		background-position: -50rem 0;
	}
	100% {
		background-position: 30rem 0;
	}
}
@keyframes shine {
	0% {
		background-position: -50rem 0;
	}
	100% {
		background-position: 30rem 0;
	}
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: var(--nav-height);
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	height: var(--nav-height);
	padding: 1rem 1.5rem;
	color: var(--text-color);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.nav-logo {
	font-weight: 700;
	width: calc(var(--text-size) * 1);
}

.theme,
.nav-logo {
	width: calc(var(--text-size) * 2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: var(--text-color);
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	cursor: pointer;
}

.nav-link {
	color: var(--text-color);
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

.nav-item:hover .nav-link {
	color: rgb(116, 170, 255);
}

.nav-item:hover .nav-link::before {
	content: ".";
	display: inline-block;
	color: aqua;
	position: absolute;
	margin-left: -0.5rem;
}

.nav-item:hover .nav-link::after {
	content: "()";
	display: inline-block;
	color: rgb(218, 112, 202);
	position: absolute;
}

.cursor {
	z-index: 1;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-color: var(--text-color);
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	margin: 0;
	margin-top: var(--nav-height);
	left: 0;
	min-height: calc(100vh - 2 * var(--nav-height));
	min-width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error-num {
	font-size: calc(var(--text-size) * 4);
}

.error-msg {
	font-size: calc(var(--text-size) * 2);
}

.canvas {
	left: 0;
	display: flex;
	width: 90%;
	min-height: 100%;
}

.titles {
	display: grid;
	grid-template-areas:
		"t"
		"s";
	margin: 1em;
}

.title {
	font-size: calc(var(--text-size) * 3);
	font-weight: bold;
	grid-area: t;
}

.titles-projects {
	font-size: calc(var(--text-size) * 2);
	font-weight: bold;
	grid-area: tp !important;
}

.subtitle {
	grid-area: s;
	font-size: calc(var(--text-size) * 1.5);
}

.project-canvas {
	display: grid;
	grid-template-areas:
		"tp p p "
		". p p ";
	min-height: 100%;
	height: 80vh;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: var(--text-size);
	margin: var(--text-size);
	grid-area: p;
	overflow-x: hidden;
	padding: calc(var(--text-size) * 2);
}

.project,
.blogpost {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100%;
	list-style: none;
	border: var(--text-color) 1px solid;
	background-color: var(--link-bg-color);
	transition: all 0.1s ease-in-out;
}

.project .award {
	transform: translate(var(--text-size), -2rem);
}

a,
a:visited {
	width: 90%;
	height: 100%;
	padding: var(--text-size);
	color: var(--text-color);
	text-decoration: none;
}

.clicky:hover,
.clicky:focus-within,
.clicky:focus,
.clicky:target {
	transform: translateY(-0.2em);
	box-shadow: var(--text-color) calc(var(--text-size) * 0.2)
		calc(var(--text-size) * 0.2);
}

.clicky:target {
	margin-top: 12rem;
}

.project-icon {
	transform: translateY(0.3em);
}

footer {
	position: relative;
	height: var(--nav-height);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	bottom: 0;
	left: 0;
	margin: 0;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.22) 43%,
		rgba(0, 0, 0, 0) 97%
	);
}

footer:hover {
	cursor: default;
}

footer a {
	color: var(--text-color);
	text-decoration: none;
	width: var(--text-size);
	height: var(--text-size);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer a:hover {
	cursor: pointer;
}

.link {
	display: inline-block;
	position: relative;
	padding: 0;
	width: -moz-fit-content;
	width: fit-content;
	color: var(--link-color) !important;
}

.link:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--text-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.link:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* TBD: FIX RESPONSIVE FOR PIXEL 5 FLIPPED */

@media (max-width: 916px) {
	.nav-logo,
	.theme {
		width: 25px !important;
		height: 25px !important;
		padding: 0;
	}

	.canvas {
		width: 90%;
		align-items: center;
	}

	.container {
		margin-top: calc(var(--nav-height) - 1rem);
	}

	.theme {
		transform: translateX(7px);
	}

	:root {
		--text-size: 0.8em;
	}

	.nav-link:hover:not(.active)::before {
		content: "";
		display: none;
		animation: none;
	}

	.title {
		font-size: calc(var(--text-size) * 4);
	}

	.title,
	.subtitle {
		text-align: center;
	}

	.bg-wrapper {
		width: 100vw;
		left: calc(10% - 50vw);
		height: 80vh;
		top: calc(60% - 50vh);
	}

	.bg-wrapper img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.project-canvas {
		display: grid;
		grid-template-areas:
			"tp"
			"p "
			"p ";
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.project-list {
		min-height: 50vh;
	}

	.project,
	.blogpost {
		margin-top: 0px;
		font-size: (var(--text-size) * 1.5);
	}

	.nav-item:hover .nav-link::after,
	.nav-item:hover .nav-link::before {
		content: "";
		display: none;
		animation: none;
	}
	.cursor {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: calc(var(--nav-height) + 1rem);
		flex-direction: column;
		background-color: var(--background-color);
		width: 100%;
		text-align: center;
		transition: 0.1s ease-in-out all;
		padding: 0;
	}

	.nav-menu.active {
		left: 0;
		z-index: 3;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0);
		border: none;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
