@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap");

:root {
	--background-color: #1a1a1a;
	--text-color: #fff;
	--text-size: 1em;
}

body {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Mono", Inconsolata, monospace, sans-serif;
	font-size: var(--text-size);
	overflow-x: hidden;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 90%;
	padding: 10px;
	background: var(--background-color);
	color: var(--text-color);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav li {
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	cursor: pointer;
}

nav .theme {
	transform: translateY(0.2em);
}

.nav-link {
	color: var(--text-color);
	text-decoration: none;
}

.nav-link:hover:not(.active)::before {
	content: ">";
	display: inline-block;
	animation: blink 0.8s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.active::before {
	content: ">.";
	display: inline-block;
}

.container {
	width: 100vw;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin: 0;
}

h1 {
	font-size: calc(var(--text-size) * 2);
	font-weight: bold;
	padding: 2em;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 3em;
}

footer a {
	color: var(--text-color);
	text-decoration: none;
}

footer a:hover {
	text-decoration: wavy underline;
}

@media (max-width: 768px) {
	:root {
		--text-size: 0.8em;
	}

	h1 {
		font-size: calc(var(--text-size) * 2);
	}
}
