@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap");

:root {
	--background-color: #1a1a1a;
	--text-color: #fff;
	--text-size: 1em;
}

body {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Mono", Inconsolata, monospace, sans-serif;
	font-size: var(--text-size);
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98vw;
	padding: 5px;
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto Mono", Inconsolata, monospace, sans-serif;
}

nav li {
	display: inline-block;
	margin: 0 10px;
	list-style: none;
	cursor: pointer;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

footer {
	color: var(--text-color);
	position: absolute;
	width: 99vw;
	text-align: center;
	bottom: 2em;
}

footer a {
	color: var(--text-color);
	text-decoration: none;
}

footer a:hover {
	text-decoration: wavy underline;
}

@media (max-width: 768px) {
	:root {
		--text-size: 0.8em;
	}

	h1 {
		font-size: calc(var(--text-size) * 2);
	}
}
